* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
    background-image: linear-gradient(#ff8a00, #e52e71);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 16rem;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .field {
    width: 500px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  label {
    font-size: 0.9rem;
  }
  
  textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .counter {
    font-size: 0.8rem;
    color: #555;
    margin: 10px;
  }
  
  #toggle {
    background-color: #4285f4;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #toggle:hover {
    background-color: #0069d9;
  }
  